<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email" type="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>
  <ion-item>
  <ion-button expand="full" (click)="login()">Login</ion-button>
</ion-item>
<ion-item lines="none">
  <ion-label>
    <ion-text>
      <p>
        <a (click)="navigateToSignup()">Sign Up</a> | 
        <a (click)="navigateToForgotPassword()">Forgot Password?</a>
      </p>
    </ion-text>
  </ion-label>
</ion-item>
</ion-content>
