<ion-header>
  <ion-toolbar>
    <ion-title>Personal Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="savePersonalInfo()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input [(ngModel)]="personalInfo.name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="personalInfo.email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone</ion-label>
      <ion-input [(ngModel)]="personalInfo.phone" name="phone"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Save</ion-button>
  </form>
</ion-content>
